html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    background-color: #2c2c2c;
}

/* Banner superior */
.banner-large {
    background-color: #666666;
    color: white;
    padding: 1rem;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    /* height: 150px; */
    margin: 0 auto;
}

/* Banner inferior */
.banner-small {
    background-color: #666666;
    color: black;
    padding: 1rem;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
}

/* Espaciado entre banners */
/* .row.my-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
} */

.btn,
.btn-primary {
    width: 120px;
    margin: 1rem;
    background-color: #cfa255;
}

.btn-primary:hover,
.btn-primary:focus:active {
    background-color: #A87F35;
    border-color: #A87F35;
}

.btn-secondary:hover {
    background-color: #A87F35;
}

.banner-large {
    width: auto;
    max-width: 75%;
    /* un poco más estrecho que el superior */
    padding: 1rem;
    margin: 1rem auto;
    box-sizing: border-box;
    word-break: break-word;
    /* padding: 2rem; */
    /* Reducir altura en pantallas pequeñas */
    /* max-width: 85%; */
    /* Más estrecho en pantallas pequeñas */
    /* margin-bottom: 2rem; */
    /* Espaciado adicional en pantallas pequeñas */
}

.home-container {
    position: fixed;
    bottom: 20px;
    /* distancia desde el borde inferior */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    z-index: 5;
    /* visible pero no encima de todo */
}

.home-button {
    background-color: #666666;
    border: none;
    border-radius: 12px;
    padding: 10px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.home-button:hover {
    background-color: #555555;
}

.home-button i {
    color: #FFFFFF;
    font-size: 22px;
}

/* Adaptabilidad */
@media (max-width: 768px) {
    .banner-small {
        width: auto;
        max-width: 90%;
        /* más ancho que el inferior */
        padding: 1.5rem;
        margin: 1rem auto;
        box-sizing: border-box;
        word-break: break-word;
        /* padding: 1.5rem; */
        /* Reducir espaciado en pantallas pequeñas */
        /* max-width: 95%; */
        /* Más ancho en pantallas pequeñas */
    }

    .home-button {
        padding: 10px 12px;
        font-size: 20px;
    }

    .home-container {
        bottom: 15px;
        /* un poco más arriba en móviles */
        left: 50%;
        transform: translateX(-50%);
    }

}