html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

/* Banner superior */
.banner-large {
    background-color: white; 
    color: black;
    padding: 1rem;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    /* height: 150px; */
    margin: 0 auto;
}

/* Banner inferior */
.banner-small {
    background-color: white;
    color: black;
    padding: 1rem;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
}

/* Espaciado entre banners */
/* .row.my-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
} */

.btn, .btn-primary{
    width: 120px;
    margin: 1rem;
    background-color: #52b906;
}

.btn-primary:hover,
.btn-primary:focus:active {
    background-color: #45a049;
    border-color: #45a049;
}

/* Adaptabilidad */
@media (max-width: 768px) {
    .banner-small {
        width: auto;
        max-width: 90%;/* más ancho que el inferior */
        padding: 1.5rem;
        margin: 1rem auto;
        box-sizing: border-box;
        word-break: break-word;
        /* padding: 1.5rem; *//* Reducir espaciado en pantallas pequeñas */
        /* max-width: 95%; *//* Más ancho en pantallas pequeñas */
    }

    .banner-large {
        width: auto;
        max-width: 75%;/* un poco más estrecho que el superior */
        padding: 1rem;
        margin: 1rem auto;
        box-sizing: border-box;
        word-break: break-word;
        /* padding: 2rem; *//* Reducir altura en pantallas pequeñas */
        /* max-width: 85%; *//* Más estrecho en pantallas pequeñas */
        /* margin-bottom: 2rem; */ /* Espaciado adicional en pantallas pequeñas */
    }
}