html{
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: #364552;
    color: white;
    padding: 1rem 2rem;
}

header h1{
    font-size: 3rem;
    text-align: center;
}

#Settings{
    width: 270px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
    float: left;
    padding: 10px;
}

#Settings select{
    margin-top: 2px;
    margin-bottom: 7px;
}

.Boton{
    width: 170px;
    padding: 10;
    border: 1px solid #52b906;
    font-size: 15px;
    background: #52b906;
    color:white;
    border-radius: 70px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;   
    position: absolute;
    float: left;
    margin-top: 15px ;
    margin-left: 325px;
}

.Boton:hover{
    background-color: #3f9204;
    color: rgb(199, 192, 192);
    transition: background 0.3s ease;
}

.Boton:active {
    background-color: #45a049;
}

#HojaRandom{
    width: 700px;
    margin-top: 80px;
    margin-left: 50px;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
    float: left;
    padding: 20px;
    font-size: 24px;
    line-height: 1.5;
}

#HojaRandom div{
    margin: 15px 0;
    padding: 6px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#HojaRandom div span {
    margin: 0 40px;
}

/*ajuste para disporitivo con ancho maximo de 768px*/
@media (max-width: 768px) {


    header h1 {
        font-size: 2.5rem;
    }
    
    #Settings {
        width: 250px;
        margin-left: 10px;
    }

    .Boton {
        width: 150px;
        margin-left: 0;
        margin-top: 169px;
        margin-bottom: 10px;
        background-color: #62d410;
    }

     .Boton:active{
        background-color: #45a049;
     }

    #HojaRandom {
        width: 630px;
        margin:0 13px; 
        margin-top: 80px;
        margin-bottom: 20px;
    }

    #HojaRandom div span {
        margin: 0 45px;
    }
}

/*ajuste para disporitivo con ancho minimo de 480px*/
@media (max-width: 480px) {


    /* body{
        overflow-x: hidden;
    }
    header{
        overflow-x: hidden;
    } */

    header h1 {
        font-size: 2rem;
    }

    #Settings {
        width: 100%;
    }

    .Boton {
        width: 130px;
        margin-top: 10px;
    }

    #HojaRandom {
        width: 100%;
    }

    #HojaRandom div span {
        margin: 0 10px;
    }
}